@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1d3252;
  color: #fff;
  padding: 150px 0 350px;
  letter-spacing: 1.8px;
}
ul {
  list-style-type: none;
}

img {
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
}

img[alt*="rock"] {
  outline: 20px solid #dc2e4e;
}
img[alt*="paper"] {
  outline: 20px solid blue;
}
img[alt*="scissors"] {
  outline: 20px solid #ec9e0e;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 30px;
}

.header ul li,
.header article {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.header article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  color: gray;
  padding: 20px;
}
.header article h4 {
  color: #2a46c0;
  font-weight: 400;
}

.home {
  position: relative;
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home a {
  flex: 0 0 50%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  background-color: unset;
  border-radius: unset;
  position: absolute;
  top: 30px;
  z-index: -2;
}

.result {
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
  font-size: 1.3rem;
}

.result div {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.result div:nth-child(2) {
  justify-content: center;
}

.result div button {
  cursor: pointer;

  color: #2a46c0;
  padding: 15px 40px;
  font-size: 1.4rem;
  border-radius: 20px;
}
.result div h2 {
  padding-bottom: 20px;
}

.buttons {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.buttons button {
  cursor: pointer;
  color: gray;
  background-color: transparent;
  padding: 15px 40px;
  font-size: 1.4rem;
  border: 2px solid gray;
  border-radius: 20px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.842);
  width: 100%;
  height: 100vh;
}

.modal img {
  border-radius: unset;
}
